body {
    background-color: #f0f0f0;
}

#container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 50px auto;
}

button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: None;
    background-color: hsl(210, 100%, 50%);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: hsl(210, 100%, 60%);
}

button:active{
    background-color: hsl(210, 100%, 70%);
}

input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;

}

#diceResult{
    margin: 25px;
}

#diceImages img {
    width: 100px;
    margin: 5px;
}

#historyContainer {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
}

#historyList li {
    list-style: none;
    padding: 5px;
    border-bottom: 1px solid #eee;
}

#historyContainer button {
    font-size: 1rem;
    padding: 5px 10px;
    background-color: hsl(0, 100%, 50%);
}

#historyContainer button:hover {
    background-color: hsl(0, 100%, 60%);
}



#historyContainer button:active {

    background-color: hsl(0, 100%, 70%);

}



@media (max-width: 500px) {

    h1 {

        font-size: 1.5rem;

    }



    input {

        font-size: 1.5rem;

    }

}
